<label for="marca">Idpedido: </label>
<input type="number" name="marca" [(ngModel)]="idcliente"><br>
<label for="color">Idcliente: </label>
<input id="number" id="color" name="color" [(ngModel)]="idpedido"><br>
<label for="velocidad">nombre: </label>
<input type="string" id="velocidad" name="velocidad" [(ngModel)]="nombre"><br>
<label for="piñones">totalproductos: </label>
<input type="number"id="piñones" name="piñones"[(ngModel)]="totalproductos"><br>
<label for="platos">importetotal: </label><br>
<input type="number"id="piñones" name="piñones"[(ngModel)]="importetotal"><br>


<input type="submit" value="subir" (click)="anadir()">
